<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="container">
    <!-- 全站导航栏 -->
    {{ partial "navbar.html" . }}

    <!-- 页面主要内容 -->
    {{ $content := .Content }}
    {{ $content = replaceRE "<img(.*?)src=\"(.*?)\"" "<img$1loading=\"lazy\" src=\"$2\"" $content }}
    {{ .Scratch.Set "content" $content }}
    {{ .Scratch.Get "content" | safeHTML }}

    <!-- 页脚 -->
    {{ partial "footer.html" . }}
  </div>
  <!-- ✅ 移到这里 -->
  <a href="/" class="home-circle-button" title="Back to Home">🏠</a>
  <link rel="stylesheet" href="/css/navbar.css" />
  <script src="/js/navbar.js" defer></script>
  <link rel="stylesheet" href="/css/products.css" />
  <link rel="stylesheet" href="/css/contact.css" />
</body>
</html>

