<nav class="main-navbar">
  <div class="navbar-container">
    <div class="site-title">Shenzhen Yiwuyimei Technology Co. LTD</div>
    <ul class="nav-menu">
      <li><a href="/">Home</a></li>
      <li class="dropdown">
        <a href="#">Products ▾</a>
        <ul class="dropdown-menu">
          <li><a href="/products/fans/">Fans</a></li>
          <li><a href="/products/shoes-dryers/">Shoes Dryers</a></li>
          <li><a href="/products/scent-diffusers/">Scent Diffusers</a></li>
          <li><a href="/products/monitor-lights/">Monitor Lights</a></li>
          <li><a href="/products/humidifiers/">Humidifiers</a></li>
          <li><a href="/products/mosquito-repellent/">Mosquito Repellent</a></li>
          <li><a href="/products/others/">Others</a></li>
        </ul>
      </li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </div>
</nav>

