{{ define "main" }}
<div class="contact-page">
  <h1>Contact Us</h1>
  <p>Contact us about anything related to our company or services.<br>
  We’ll do our best to get back to you as soon as possible.</p>

  <div class="contact-info">
    <h3>Shenzhen Yiwuyimei Technology Co., Ltd</h3>
    <p>Address: Rm503, Building G, Sanlian Jewelry City, Shenzhen, China, 518112</p>

    <div class="contact-methods">
      <span>iMessage: jerry.nga@me.com</span>
      <span>|</span>
      <span>Email: <a href="mailto:info@yiwuyimei.com">info@yiwuyimei.com</a></span>
    </div>
  </div>
</div>
{{ end }}
